.jumbotron {
	background-image: url('love1.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 400px;
}

nav {
	background: rgba(26, 26, 26, 0.6)
}

.navbar-brand span {
	font-family: 'Yellowtail', cursive;
	font-size: 30px;
}

.navbar-brand {
	font-size: 30px;
}

a {
	color: #f2f2f2;
}

a:hover {
	color: black;
}

.navbar-right {
	font-size: 20px;
}

.text-right {
	padding: 50px 190px 0 0;
	color: #e6e6e6;
}

.text-center {
	padding-bottom: 50px;
}

.fa-heart {
	font-size: 25px;
	color: red;
}

.info-block {
	text-align: center;
	padding-bottom: 20px;
}

.center-block {
	padding-top: 20px;
	max-width: 100%;
}

.navbar {
	margin-bottom: 0;
}

footer h3 {
	text-align: center;
	color: #ebebeb;
}

footer .fa {
	font-size:30px;
	color: #ebebeb;
	margin-right: 10px;
	padding-bottom: 10px;
}

footer {
	text-align: center;
}